<header>
    <div class="container" style="background-color:blue;">
    <h2 style="color:whitesmoke;">Register</h2>
    </div>
</header>
<form (ngSubmit)="saveCust()">
    <div class="container-2">
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Date Of Birth">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Contact Number">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Address">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter PassWord">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Confirm PassWord">
      </div>
      <div class="col-12" style="margin-left: 46%;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

</form>