<form>
    <div>
        <label>
            Email: 
        </label>
        <input type="text" id="email" name="email" [(ngModel)]="mail" #email="ngModel">
    </div>
    <div [hidden]="captcha">
        <re-captcha (resolved)="resolved($event)" siteKey="6Lf9VjMhAAAAAJ2b9dRw1GK0GtuRYa0hpdNYY4p9"></re-captcha>
    </div>
    <div [hidden]="!captcha">
        <p>{{password}}</p>
    </div>
    <div class="col-12" style="margin-left: 46%;">
        <button type="submit" class="btn btn-primary" (click)="submit(mail)">Submit</button>
      </div>
</form>
