<form (ngSubmit)="reset(mail,password,cpass)" #resetForm="ngForm">
    <div class="container">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="mail"
          #id="ngModel"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="pass"
          name="pass"
          [(ngModel)]="password"
          #id="ngModel"
          placeholder="***********"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="pass"
          name="pass"
          [(ngModel)]="cpass"
          #id="ngModel"
          placeholder="***********"
        />
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </div>
</form>