<div>
<div class="container">
    <div class="container-2">
        <p>
            Policy Number:# {{policy.id}}
        </p>
        <p>
            Vehicle Model:# {{vdetails.Model}
        </p>
        <p>
            Registration Number:# {{rnumber}}
        </p>
        <p>
            Claim Amount: INR {{policy.renew_amount}}
        </p>
    </div>
    <div class="container-3">
       
            <div class="next">
                <button class="claimb" type="submit" (click)="claim()">Claim</button>
            </div>
            <div class="next">
                <button class="renewb" type="submit" (click)="renew()">Renew</button>
            </div>
        </div>
</div>
</div>