<header>
    <div class="container" style="background-color:blue;">
        <h4>Plans</h4>
    </div>
</header>
<form>
    <div class="container">
        <p>Choose Your Plan</p>
    </div>
    <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            Third Party
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Comprehensive
          </label>
        </div>
    </div>
</form>
<form>
    <div class="container">
        <p>Choose Your Period</p>
    </div>
    <div class="col-sm-11">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            One Year
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Two Year
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Three Year
            </label>
          </div>
    </div>
</form>
